<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>WCSC Metro Alerts</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
        <meta name="description" content="" />
        <meta name="Jacob Hess" content="" />
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <!-- Custom styles for this template --> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% block head %}

        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col-8">
                    <img class="img-fluid" src="{% static '/assets/system-map.jpg' %}" alt="MetroMap" />
                </div>
                <div class="col-4">
                    <div id="carousel" class="carousel slide" wrap=true>
                        <div class="carousel-inner">
                            <div class="carousel-item active" id="Alerts">
                                <div class="d-block w-100">
                                    <h1 id="detect">Metro Alerts</h1>
                                        <!--  Auto Collapsing Bootstrap Flex boxes for different metro lines. Order of lines can be changed for
                                        convience.  -->
                                    <div class="accordion">
                                        <!-- Red Line Alerts -->
                                        <div class="accordion-item" id="RedLineAlerts">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button RedAlCol bg-danger bg-gradient text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRedAl" aria-expanded="true" aria-controls="collapseOne">
                                                    <img src="{% static '/assets/redline.png' %}" alt="Red Line Alerts" /> &nbsp; Red Line
                                                </button>
                                            </h2>
                                            <div id="collapseRedAl" class="accordion-collapse collapse" data-bs-parent="#RedAlerts">
                                                <div class="accordion-body bg-danger text-white">
                                                    <ul>
                                                        <!-- Need some kinda logic for how many alerts are going -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Green Line Alerts -->
                                        <div class="accordion-item" id="GreenLineAlerts">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button bg-success bg-gradient text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGreenAl" aria-expanded="false" aria-controls="collapseTwo">
                                                    <img src="{% static '/assets/greenline.png' %}" alt="Green Line Alerts" /> &nbsp; Green Line
                                                </button>
                                            </h2>
                                            <div id="collapseGreenAl" class="accordion-collapse collapse" data-bs-parent="#GreenAlerts">
                                                <div class="accordion-body bg-success text-white">
                                                    <ul>
                                                        <!-- Needs logic -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Yellow Line Alerts -->
                                        <div class="accordion-item" id="YellowLineAlerts">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button bg-warning bg-gradient collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseYellowAl" aria-expanded="false" aria-controls="collapseThree">
                                                    <img src="{% static '/assets/yellowline.png' %}" alt="Yellow Line Alerts" /> &nbsp; Yellow Line
                                                </button>
                                            </h2>
                                            <div id="collapseYellowAl" class="accordion-collapse collapse" data-bs-parent="#YellowAlerts">
                                                <div class="accordion-body bg-warning">
                                                    <ul>
                                                        <!-- Needs logic -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Blue Line Alerts -->
                                        <div class="accordion-item" id="BlueLineAlerts">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button bg-primary bg-gradient collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBlueAl" aria-expanded="false" aria-controls="collapseThree">
                                                    <img src="{% static '/assets/blueline.png' %}" alt="Blue Line Alerts" /> &nbsp; Blue Line
                                                </button>
                                            </h2>
                                            <div id="collapseBlueAl" class="accordion-collapse collapse" data-bs-parent="#BlueAlerts">
                                                <div class="accordion-body bg-primary">
                                                    <ul>
                                                        <!-- Needs logic -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Orange Line Alerts -->
                                        <div class="accordion-item" id="OrangeLineAlerts">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button bg-orange bg-gradient collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOrangeAl" aria-expanded="false" aria-controls="collapseThree">
                                                    <img src="{% static '/assets/orangeline.png' %}" alt="Orange Line Alerts" /> &nbsp; Orange Line
                                                </button>
                                            </h2>
                                            <div id="collapseOrangeAl" class="accordion-collapse collapse" data-bs-parent="#OrangeAlerts">
                                                <div class="accordion-body bg-orange">
                                                    <ul>
                                                        <!-- Needs logic -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Silver Line Alerts -->
                                        <div class="accordion-item" id="SilverLineAlerts">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button bg-secondary bg-gradient text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSilverAl" aria-expanded="false" aria-controls="collapseThree">
                                                    <img src="{% static '/assets/silverline.png' %}" alt="Silver Line Alerts" /> &nbsp; Silver Line
                                                </button>
                                            </h2>
                                            <div id="collapseSilverAl" class="accordion-collapse collapse" data-bs-parent="#SilverAlerts">
                                                <div class="accordion-body bg-secondary text-white">
                                                    <ul>
                                                        <!-- Needs logic -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" id="Advisories">
                                <div class="d-block w-100">
                                    <div>
                                        <h1>Metro Service Anouncements</h1>
                                    </div>
                                </div>
                            </div>
                            <!--  KEEP FOR POSSIBLE BUS PAGE
                            <div class="carousel-item" data-bs-interval="2000">
                                <div class="d-block w-100">
                                    Third Page
                                </div>
                            </div>  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  Bootstrap core JavaScript
        ==================================================  -->
        <!-- jQuery -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <script>
            
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            
            function AccordionManager(event) {
                var current = event.relatedTarget.id
                if(current == 'Advisories') {
                    console.log("Hi.");
                } else { //Alerts
                    console.log("Bye.");

                }
                //carousel.next();
                
            }
            const carousel = new bootstrap.Carousel('#carousel');
            $('#carousel').on('slid.bs.carousel', AccordionManager);

            AccordionManager({relatedTarget:$('#Alerts')});
              
        </script>
        {% block body %}

        {% endblock %}
    </body>
</html>
